*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    text-align: center;
    margin: 0 14px;
}
body {
    max-width: 1200px;
    margin: 0 100px;
    padding:0;
}


table, th, tr, td {
    border: solid 1px black;
}
  
.espacio {
    display: flex;
    align-items: center;
    gap: 50px;
} 
  
  
  
  